<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="jetchair_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-2.86292239780752 3.09878487732431 0.860427713552767"
        rpy="0 0 0" />
      <mass
        value="31.4560304030766" />
      <inertia
        ixx="4.2484713073384"
        ixy="-0.00593912736668099"
        ixz="0.771169199840055"
        iyy="4.18387337996311"
        iyz="0.0255844170309265"
        izz="1.12818726076886" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetchair_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetchair_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_wheel">
    <inertial>
      <origin
        xyz="-0.0208816783082941 -0.462949624531973 0.320382199483606"
        rpy="0 0 0" />
      <mass
        value="1.89094567469007" />
      <inertia
        ixx="0.00469266978671407"
        ixy="1.13750496314201E-06"
        ixz="2.03253339937828E-06"
        iyy="0.00469215991605277"
        iyz="-4.51030353248672E-06"
        izz="0.00762861332160976" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetchair_urdf/meshes/right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetchair_urdf/meshes/right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="continuous">
    <origin
      xyz="-2.89326802793966 3.10036396242897 0.507755393218783"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="left_wheel">
    <inertial>
      <origin
        xyz="-4.2017534467309E-05 1.82071500053615E-05 -0.0803821994836054"
        rpy="0 0 0" />
      <mass
        value="1.89094567469007" />
      <inertia
        ixx="0.00469216529315724"
        ixy="1.13869673562891E-06"
        ixz="4.50548947770026E-06"
        iyy="0.0046926644096096"
        iyz="-2.04318245418296E-06"
        izz="0.00762861332160975" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetchair_urdf/meshes/left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetchair_urdf/meshes/left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="continuous">
    <origin
      xyz="-2.9141678140888 3.34036396242897 0.0448478291149333"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_wheel" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="right_caster_wheel">
    <inertial>
      <origin
        xyz="0.0247437944608149 -0.111899610356548 0.0532398933506641"
        rpy="0 0 0" />
      <mass
        value="0.242680594536878" />
      <inertia
        ixx="0.00018528787149402"
        ixy="5.8888598686378E-06"
        ixz="-4.52919497186026E-06"
        iyy="0.000183879993026435"
        iyz="2.21010147130752E-07"
        izz="0.000301646397552213" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetchair_urdf/meshes/right_caster_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetchair_urdf/meshes/right_caster_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_caster_joint"
    type="fixed">
    <origin
      xyz="-2.3763778140888 2.86576396242897 0.120147829114934"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_caster_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_caster_wheel">
    <inertial>
      <origin
        xyz="0.0247573366941523 -0.111899613326545 -0.0498126119646636"
        rpy="0 0 0" />
      <mass
        value="0.242680705446467" />
      <inertia
        ixx="0.0001851300367039"
        ixy="5.89261892179493E-06"
        ixz="-1.45685394684529E-06"
        iyy="0.000183880023665673"
        iyz="6.57075451609429E-08"
        izz="0.000301804242314817" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetchair_urdf/meshes/left_caster_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetchair_urdf/meshes/left_caster_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_caster_joint"
    type="fixed">
    <origin
      xyz="-2.3763778140888 3.33736396242897 0.120147829114934"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_caster_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar">
    <inertial>
      <origin
        xyz="0.0067683271531771 -0.00738785210738577 9.17768374697481E-05"
        rpy="0 0 0" />
      <mass
        value="1.33041048124832" />
      <inertia
        ixx="0.000614736954229147"
        ixy="0.000158189979278381"
        ixz="8.0027125959029E-07"
        iyy="0.00109812375363565"
        iyz="3.0960362664797E-06"
        izz="0.000960497023041248" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetchair_urdf/meshes/lidar.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetchair_urdf/meshes/lidar.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="-2.65862808664732 3.10536396242897 0.144497829114934"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>