<launch>
    <!-- Start AMCL for localization -->
    <!--include file="$(find stair_cl_maps)/launch/amcl.launch"/-->
    
    <!--include file="$(find stair_cl_gazebo)/launch/stair_cl_experiment.launch"/-->

    <!-- Start the move_base node -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen">
         <!-- Load DWA local planner parameters -->
      <rosparam file="$(find jet_nav)/config_dwa/dwa_local_planner_params.yaml" command="load" />

      <!-- Load global costmap parameters -->
      <rosparam file="$(find jet_nav)/config_dwa/costmap_common_params.yaml" command="load" ns="global_costmap" />
      
      <!-- Load local costmap parameters -->
      <rosparam file="$(find jet_nav)/config_dwa/costmap_common_params.yaml" command="load" ns="local_costmap" />
      
     <rosparam file="$(find jet_nav)/config_dwa/local_costmap_params.yaml" command="load" ns="local_costmap" />
     <rosparam file="$(find jet_nav)/config_dwa/global_costmap_params.yaml" command="load" ns="global_costmap" /> 

    </node>
</launch>
